header{
    width: 100%;
    height: 100vh;
    min-height: 80rem;
    background-image: url(/img/Landing1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Navigation */
nav{
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #020228a0; */
}

.logo{
    width: 8rem;
    margin-left: 2rem;
}

.bar-btn{
    font-size: 2.5rem;
    color: #ffffff;
    margin-right: 2rem;
    cursor: pointer;
}

.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 8rem;
    background-color: rgba(0, 0, 0, .95);
    text-align: center;
    transition: all .5s;
}

.nav-menu li{
    display: none;
    line-height: 3rem;
    margin: 5rem 0;
    transition: all .5s;
}

.nav-menu li a{
    color: #ffffff;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover{
    color: rgb(248, 0, 0);
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu{
    height: 100vh;
}

#check:checked ~ .nav-menu li{
    display: block;
}

/* Responsy For Desktop */

@media screen and (min-width: 768px) {
    .logo{
        margin-left: 5rem;
    }

    nav{
        height: 8rem;
    }

    .bar-btn{
        display: none;
    }

    .nav-menu{
        position: relative;
        height: 8px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 5rem;
    }

    .nav-menu li{
        display: inline-block;
        line-height: 8rem;
        margin: 0 2rem;
        transition: none
    }
    .nav-menu li a{
        font-size: 1.2rem;
    }

    
}