/* --------------------------- Google font  ----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* --------------------------- CSS Reset -------------------------- */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 200vh;
    background: #020228;
}

/* -------------------------- Header ------------------------------ */
header {
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
}

/*  ---------************ Menu Nav ************---------- */
.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 0 3rem;
    z-index: 10000;
}

.nav-menu.sticky {
    padding: 0rem 4rem;
    background: #441faaf5;
}

.Logo {
    position: relative;
    width: 10rem;
    cursor: pointer;
    transition: 0.6s;
}

.Logo img {
    width: 100%;
}

/* ---------************ Menu-text ************----------  */
.nav-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-text li {
    position: relative;
    padding-right: 2rem;
    padding-left: 2rem;
    border-right: 1px solid #FFF;
}

.nav-text li a {
    position: relative;
    font-size: 2.4rem;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    transform: 0.6s;
    /* display: block; */
}

.nav-text li a i {
    padding-right: 1rem;
}

.nav-text li a:hover {
    color: #32B6EF;
}

.nav-menu.sticky .Logo,
.nav-menu.sticky .nav-text li a {
    color: #fff;
    width: 7rem;
    font-size: 1.8rem;
}

.nav-menu.sticky .nav-text li a:hover {
    color: #56f00e;
}

/* -------------*********** Menu Bars Hamburgesa  **********------------- */
.btn-bars {
    display: none;
    font-size: 2.5rem;
    line-height: 3rem;
    /* float: right; */
    margin-right: 3rem;
    color: #ffffff;
    cursor: pointer;
}

/* --------------------------------- Landing header -------------------- */
.landin {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/img/Landing1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.landin img {
    width: 100%;
    padding: 0;
    margin: 0
}

/* ***************** Fin Header -----------> */
/* --------------------------- main Container ------------------------- */
main {
    width: 100%;
}

.Mint {
    width: 100%;
    /* margin-top: 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: relative;
}

/* ------------********* Timer Contador *******--------------------- */
.timer {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.timer img {
    width: 100%;
    max-width: 55rem;
}

.cont-temporizador {
    display: flex;
    position: absolute;
    top: 25rem;
    align-items: center;
    justify-content: center;
    margin-left: 8rem;
}

.cont-temporizador .bloque {
    /* margin-left: 2rem; */
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cont-temporizador .bloque div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 900;
    font-size: 5rem;
    color: #32B6EF;
}

.cont-temporizador .bloque p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    text-align: center;
    color: #32B6EF;
}

/* ------------------------------- Banner1 -------------------------------- */
.baner1 {
    height: 50rem;
    width: 100%;
    background-image: url(/img/codenumber2.png);
}

.baner1 h2 {
    padding-top: 10rem;
    font-weight: 900;
    font-size: 4.8rem;
    text-align: center;
    color: #FFFFFF;
}

.baner1 p {
    font-weight: 400;
    font-size: 3.6rem;
    text-align: center;
    color: #32B6EF;
}

/* -------------------------- Rarity_Guide -------------------------*/
.Rarity_Guide {
    width: 100%;
    padding: 0 10rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contet-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10rem;
}

.content-2 {
    width: 100%;
    flex: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.content-2 h3 {
    width: 100%;
    font-weight: bold;
    font-size: 2.8rem;
    color: #FFFFFF;
}

.content-2 p {
    font-weight: normal;
    font-size: 2.8rem;
    color: #32B6EF;
}


.container-box1 {
    width: 100%;
    flex: 50%;
    background: #020228;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.box-item {
    width: calc((100% - 1rem) / 3);
    flex: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box-item img {
    width: 100%;
    max-width: 15rem;
    max-height: 15rem;
    padding: .5rem .5rem;
}

/* ---------------************* btn **********---------------- */
.btn-1 {
    margin-top: 3rem;
    background: none;
    width: 100%;
    max-width: 31rem;
    height: 6.2rem;
    border: none;
    border-radius: 10px;
    transition: ease-out 0.3s;
    outline: none;
    border: 4px solid #32B6EF;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.btn-1 a {
    font-weight: 700;
    font-size: 2rem;
    color: #32B6EF;
}

.btn-1 a:hover {
    color: #FFF;
}

.btn-1:hover {
    cursor: pointer;
    color: #FFF;
}

.btn-1::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #32B6EF;
}

.btn-1:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

/* --------------------------------------- Roadmap ----------------------- */
.roadmap-header {
    height: 45rem;
    width: 100%;
    background-image: url(/img/codenumber2.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.roadmap-header img {
    width: 20rem;
    height: 20rem;
}

.roadmap-header h4 {
    margin-left: 10rem;
}


.roadmap-header h4 img {
    width: 40rem;
    height: 9.5rem;
}

/* ----------------------------roadmap-content ----------------*/
.roadmap-contemt {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.roadmap-contemt .link {
    height: 9rem;
    padding: 3rem 0;
    width: 100%;
    max-width: 80rem;
    display: flex;
    justify-content: right;
}

.link a {
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;
    color: #32B6EF;
}

.Conteiner-box2 {
    height: 17rem;
    width: 100%;
    max-width: 80rem;
    display: flex;
    justify-content: space-between;
}

.box-value {
    display: flex;
    width: 9rem;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.box-title {
    padding-left: 5rem;
}

.box-value span {
    height: 7rem;
    width: 9rem;
}

.Conteiner-box2 .box-value span>img {
    width: 100%;
}

.box-value img {
    width: 1rem;
    height: 10rem;
    max-height: 100%;
}

.box-title h4 {
    font-style: normal;
    font-weight: 800;
    font-size: 2.4rem;
    color: #FFFFFF;
}

.box-title p {
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    color: #FFFFFF;
}

/* _-----------------***************** roadmap-item **********--------------- */
.roadmap-item {
    height: 30rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 15rem;
    margin-bottom: 10rem;
}

.Container-box3 {
    width: calc((100% - 14rem) / 3);
    padding: 0 7rem;

}

.Container-box3 img {
    width: 13rem;
    height: 13rem;
}

.Container-box3 h5 {
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    color: #FFFFFF;
}

.Container-box3 p {
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
    color: #FFFFFF;
}

/* roadmap-whale */
.roadmap-whale {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15rem;
}

.whale-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 101rem;
    height: 38rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(141.09deg, rgba(219, 190, 255, 0.28) 1.51%, rgba(101, 16, 210, 0.28) 100.88%);
    opacity: 0.7;
    border-radius: 70px;
    padding: 0 8rem;
}

.whale-container img {
    width: 28rem;
    height: 28rem;
}

.whale h2 {
    font-weight: 900;
    font-size: 3.6rem;
    color: #FFFFFF;
}

.whale p {
    font-weight: 400;
    font-size: 3.6rem;
    color: #FFFFFF;
}

/*----------------------- banner-discord ----------------*/
.banner-discord {
    background: url(/img/codenumber2.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 60rem;
    padding: 15rem 30rem;
}

.banner-discord p {
    font-weight: 800;
    font-size: 3.6rem;
    text-align: center;
    color: #32B6EF;
}


.btn-discord {
    margin-top: 4rem;
    width: 53rem;
    height: 7rem;
    background: #32B6EF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.btn-discord i {
    font-size: 3.6rem;
}

.btn-discord h6 {
    font-style: normal;
    font-weight: 900;
    font-size: 3.6rem;
    color: #FFFFFF;
    padding-left: 2rem;
}

/* ------------------- FAQS -------------------- */
.faqs {
    width: 100%;
    background: #060839;
    padding: 10rem 15rem;
}

.faqs-content {
    text-align: left;
}

.faqs-content img {
    width: 23rem;
    height: 12rem;
}

.faqs-content li {
    padding-top: 3rem;
    font-style: normal;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: #FFFFFF;
}

/* ------------------ Footer --------------- */
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 15rem;
    justify-content: center;
    align-content: center;
}

.enlaces-footer {
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}

.link-footer {
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
    padding: 0 4rem;
}

.link-footer li a {
    font-style: normal;
    font-weight: 800;
    font-size: 2.4rem;
    color: #FFFFFF;
    padding: 0 3rem;
}

.Coppi-footer h6 {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-align: center;
    color: #353E4D;
    padding-bottom: 3rem;
}

@media screen and (max-width: 800px) {
    html {
        font-size: 60%;
    }

    .nav-text li a {
        font-size: 2rem;
    }

    .baner1 h2 {
        font-size: 4.2rem;
    }

    .landin {
        max-width: 800px;
        background-size: 800px;
    }

    .content-2 h3 {
        font-size: 2.2rem;
    }

    .content-2 p {
        font-size: 2rem;
    }

    .btn-1 {
        max-width: 25rem;
        height: 5.2rem;
    }

    .btn-1 a {
        font-size: 1.5rem;
    }

    .roadmap-header img {
        width: 15rem;
        height: 15rem;
    }

    .roadmap-header h4 {
        margin-left: 7rem;
    }

    .roadmap-header h4 img {
        width: 35rem;
        height: 7.5rem;
    }

    .Conteiner-box2 {
        height: 15rem;
        max-width: 60rem;
    }

    .box-value {
        width: 7rem;
    }

    .box-title {
        padding-left: 4rem;
    }

    .box-value span {
        height: 5rem;
        width: 7rem;
    }

    .box-value img {
        width: .7rem;
        height: 9rem;
    }

    .box-title h4 {
        font-size: 2rem;
    }

    .box-title p {
        font-size: 2rem;
    }

    .roadmap-contemt .link {
        height: 7rem;
        max-width: 60rem;
    }

    .link a {
        font-size: 2rem;
    }

    .roadmap-item {
        height: 25rem;
        padding: 0 9rem;
    }

    .Container-box3 {
        width: calc((100% - 10rem) / 3);
        padding: 0 4rem;

    }

    .Container-box3 img {
        width: 9rem;
        height: 9rem;
    }

    .Container-box3 h5 {
        font-size: 2.5rem;
    }

    .Container-box3 p {
        font-size: 1.7rem;
    }

    .roadmap-whale {
        padding: 0 10rem;
    }

    .whale-container {
        max-width: 70rem;
        height: 33rem;
        padding: 0 4rem;
    }

    .whale-container img {
        width: 23rem;
        height: 23rem;
    }

    .whale h2 {
        font-size: 2.6rem;
    }

    .whale p {
        font-size: 2rem;
        color: #FFFFFF;
    }

    .banner-discord {
        height: 50rem;
        padding: 10rem 15rem;
    }

    .banner-discord p {
        font-size: 2.6rem;
    }

    .btn-discord {
        margin-top: 4rem;
        width: 35rem;
        height: 5rem;
    }

    .btn-discord i {
        font-size: 2.6rem;
    }

    .btn-discord h6 {
        font-size: 2.6rem;
    }

    /* FAQS  */
    .faqs {
        padding: 7rem 10rem;
    }

    .faqs-content img {
        width: 18rem;
        height: 9rem;
    }

    .faqs-content li {
        padding-top: 2rem;
        font-size: 2rem;
    }

    /* Footer  */
    .footer {
        padding: 0 6rem;
    }

    .link-footer {
        padding: 0 1rem;
    }

    .link-footer li a {
        font-size: 2rem;
        padding: 0 1rem;
    }

    .Coppi-footer h6 {
        font-size: 1.8rem;
        line-height: 2.2rem;
        text-align: center;
        color: #353E4D;
        padding-bottom: 3rem;
    }
}

@media screen and (max-width: 680px) {
    html {
        font-size: 50%;
    }

    .nav-menu.sticky {
        padding: 0rem 3rem;
    }

    .baner1 h2 {
        font-size: 3.5rem;
    }

    .baner1 p {
        font-size: 2.8rem;
    }

    .content-2 {
        padding: 2rem;
    }

    .content-2 h3 {
        font-size: 2.6rem;
    }

    .content-2 p {
        font-size: 2.4rem;
    }

    .container-box1 {
        flex: 60%;
    }

    .box-item img {
        padding: 1rem 0rem;
    }

    .roadmap-header img {
        width: 10rem;
        height: 10rem;
    }

    .faqs {
        padding: 7rem 8rem;
    }

    .footer {
        padding: 0 3rem;
    }

    .link-footer li a {
        font-size: 1.6rem;
        padding: 0 1rem;
    }
}


@media screen and (max-width: 600px) {
    .nav-menu {
        padding: 0 1rem;
    }

    .nav-menu.sticky {
        padding: 0rem 1rem;
    }

    .Logo {
        width: 8rem;
    }

    .nav-text li {
        padding-right: 1rem;
        padding-left: 1rem;
        border-right: none;
    }

    .nav-text li a {
        font-size: 1.8rem;
    }

    .landin {
        max-width: 600px;
        background-size: 600px;
        height: 100vh;
        max-height: 300px;
    }

    .timer {
        padding-top: 0rem;
        padding-bottom: 4rem;
    }

    .timer img {
        max-width: 40rem;
    }

    .cont-temporizador {
        top: 13rem;
        margin-left: 5.5rem;
    }

    .cont-temporizador .bloque {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .cont-temporizador .bloque div {
        font-size: 3rem;
    }

    .cont-temporizador .bloque p {
        font-size: 1rem;
    }

    .baner1 {
        height: 30rem;
    }

    .baner1 h2 {
        font-size: 2.5rem;
    }

    .baner1 p {
        font-size: 2rem;
    }

    .Rarity_Guide {
        padding: 0 5rem;
    }

    .content-2 h3 {
        font-size: 2rem;
    }
    .content-2 p {
        font-size: 2rem;
        color: #32B6EF;
    }

    .roadmap-header {
        height: 30rem;
    }
    
    .roadmap-header img {
        width: 10rem;
        height: 10rem;
    }
    
    .roadmap-header h4 {
        margin-left: 3rem;
    }
    
    
    .roadmap-header h4 img {
        width: 25rem;
        height: 6.5rem;
    }


    .Conteiner-box2 {
        height: 15rem;
        max-width: 40rem;
    }

    .box-value {
        width: 6rem;
    }

    .box-title {
        padding-left: 2rem;
    }

    .box-title h4 {
        font-size: 1.8rem;
    }

    .box-title p {
        font-size: 1.6rem;
    }

    .roadmap-contemt .link {
        max-width: 40rem;
    }

    
    .Container-box3 {
        width: calc((100% - 6rem) / 3);
        padding: 0 2rem;
    }

    .Container-box3 img {
        width: 6rem;
        height: 6rem;
    }

    .Container-box3 h5 {
        font-size: 2rem;
    }

    .Container-box3 p {
        font-size: 1.6rem;
    }

    .roadmap-item {
        padding: 0 5rem;
    }

    .roadmap-whale {
        padding: 0 3rem;
    }

    .whale-container {
        max-width: 50rem;
        height: 33rem;
        padding: 0 2rem;
    }

    .whale-container img {
        width: 18rem;
        height: 18rem;
    }

    .whale h2 {
        font-size: 2rem;
    }

    .whale p {
        font-size: 1.7rem;
    }

    .banner-discord {
        height: 30rem;
        padding: 5rem 10rem;
    }

    .banner-discord p {
        font-size: 2rem;
    }

    .btn-discord {
        margin-top: 3rem;
        width: 30rem;
        height: 4rem;
    }

    .btn-discord i {
        font-size: 2rem;
    }

    .btn-discord h6 {
        font-size: 2rem;
    }

    .faqs {
        padding: 4rem 7rem;
    }

    .faqs-content img {
        width: 15rem;
        height: 7rem;
    }

    .faqs-content li {
        padding-top: 1.5rem;
        font-size: 1.7rem;
    }

     /* Footer  */
     .footer {
        padding: 0 2rem;
    }

    .enlaces-footer img{
        width: 6rem;
    }

    .link-footer {
        padding: 0 .5rem;
    }

    .link-footer li a {
        font-size: 1.7rem;
        padding: 0 .5rem;
    }

    .Coppi-footer h6 {
        font-size: 1.4rem;
    }

}